* {
  font-family: "Dosis";
}

.houseContainer {
  width: 97%;
  height: 100%;
  padding: 2rem;
  overflow: scroll;
}

.houseAdd {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  height: 220px;
  width: 510px;
  margin-top: 3%;
  justify-content: center;
  border-radius: 10px;
  box-shadow: gray 0.7px 0.7px;
  border-left: 10px solid rgb(12, 186, 171);
}

.houseAdd img {
  width: 80px;
  cursor: pointer;
}

.houseAdd p {
  font-size: 22px;
  font-weight: 600;
  font-size: "PT Sans";
}

.houseSelection {
  border-left: 10px solid rgb(12, 186, 171);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: gray 0.7px 0.7px;
  width: 80%;
  height: 70%;
}

.houseSelection span {
  font-weight: 700;
  padding: 0.7rem;
  cursor: pointer;
}

.houseRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 10%;
  flex-wrap: wrap;
}

.houseRow div {
  width: 210px;
  height: 250px;
  box-shadow: gray 0.4px 0.3px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  row-gap: 10px;
}

.houseRow div:hover {
  background-color: rgb(48, 251, 183);
  color: rgb(11, 88, 61);
  cursor: pointer;
}

.houseRow img {
  height: 160px;
}

.houseRow div p {
  font-size: 16px;
  font-family: "Dosis";
  font-weight: 550;
}

.addRoom {
  display: flex;
  flex-direction: row;
  border-left: 8px solid rgb(12, 186, 171);
  padding: 2rem;
  column-gap: 50px;
  width: 40%;
  border-radius: 10px;
  box-shadow: gray 0.7px 0.7px;
  justify-content: space-between;
}

.addRoom :nth-child(2) img {
  width: 140px;
}

.roomAdder {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  justify-content: center;
}

.roomAdder h4 {
  font-family: "Dosis";
  font-size: 17px;
}

.roomAdder button {
  background-color: rgb(12, 186, 171);
  width: 80%;
  align-self: center;
}

.roomAdder button:hover {
  background-color: white;
  color: rgb(12, 186, 171);
  border: 1px solid rgb(12, 186, 171);
}

.roomsMainContainer {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: gray 0.7px 0.7px;
  border-left: 10px solid rgb(12, 186, 171);
  font-family: "Dosis";
  width: 90%;
  padding: 2.2rem;
}

.roomsContainer {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.roomsMainContainer span {
  font-weight: 600;
  cursor: pointer;
  margin-top: -2%;
  margin-left: -2%;
}

.roomsContainer div {
  border-radius: 9px;
  padding: 0.5rem;
}

.roomsContainer div:hover {
  background-color: rgb(48, 251, 183);
  cursor: pointer;
}

.roomsContainer div img {
  height: 160px;
}

.roomsContainer div p {
  text-align: center;
}

.roomsContainer div :nth-child(3) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.roomsContainer div :nth-child(3) button {
  width: 33%;
  font-size: 20px;
  justify-content: center;
  background-color: rgb(12, 186, 171);
  border: 1px thin rgb(12, 186, 171);
}

.roomsContainer div :nth-child(3) button:hover {
  background-color: white;
  border: 1px solid rgb(12, 186, 171);
  color: rgb(12, 186, 171);
}

.addSelection {
  width: max-content;
  margin-left: 89.3%;
  margin-top: 3%;
}

.addSelection button {
  background-color: rgb(12, 186, 171);
  border: 1px thin rgb(12, 186, 171);
}

.addSelection button:hover {
  background-color: white;
  border: 1px solid rgb(12, 186, 171);
  color: rgb(12, 186, 171);
}

.applianceContainer {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  font-family: "PT Sans";
  width: max-content;
}

.applianceContainer h3 {
  font-size: 20px;
  width: max-content;
  margin-bottom: 2%;
  font-weight: 560;
}

.roomsMap {
  border: 1px solid rgb(1, 216, 199);
  display: flex;
  flex-direction: column;
  width: max-content;
  margin-bottom: 2%;
}

.roomsMap h4 {
  font-size: 15px;
  background-color: rgb(24, 215, 199);
  padding: 0.5rem;
  font-weight: 550;
}

.singleRoom {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  column-gap: 5%;
}

.singleRoom img {
  width: 150px;
  height: fit-content;
}

.singleRoom div table {
  font-size: 16px;
  font-weight: 200;
  border: -0.5px solid rgb(186, 186, 186);
}

.singleRoom div table :nth-child(odd) {
  font-weight: 600;
  background-color: rgb(193, 193, 193);
  padding: 0.5rem 0.5rem;
  height: 100%;
}

.singleRoom div table :nth-child(even) {
  font-weight: 600;
  background-color: rgb(147, 147, 147);
  padding: 0.5rem 0.5rem;
}

.singleRoom input {
  width: max-content;
  height: 30px;
}

.addBtn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0.4rem;
  align-items: center;
  gap: 2%;
  margin-right: 0.8%;
}

.addBtn button {
  background-color: rgb(12, 186, 171);
  border: 1px solid rgb(12, 186, 171);
  color: white;
}

.addBtn button:hover {
  background-color: white;
  border: 1px solid rgb(12, 186, 171);
  color: rgb(12, 186, 171);
}

.addBtn select {
  width: 100px;
  height: 30px;
  border-radius: 2px;
  padding: 0.3rem;
}
