.app_container {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.app_container .wa_container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.wa_container .wa_heading_container {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 97%;
  margin: 0rem 1rem 1rem 1rem;
  padding: 1rem;
  column-gap: 2%;
}

.wa_heading_container img {
  width: 5%;
}

.wa_heading_container .wa_heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.wa_heading h3 {
  font-size: 40px;
  font-family: "PT Sans";
}
.wa_heading p {
  font-size: 15.7px;
  font-family: "PT Sans";
}

.wa_container .wa_content {
  width: 97%;
  height: 100%;
}
