* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all ease 0.3s;
  font-family: "Dosis", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 236, 238);
  overflow: hidden;
}

.login_box {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login_main_container {
  display: flex;
  align-items: center;
  flex: row;
  position: absolute;
  left: 44%;
  top: 38%;
}

.login_container {
  background-color: white;
  padding: 1rem 2rem;
  padding-bottom: 2rem;
  border-top: rgb(41, 189, 3) 0.5rem solid;
  box-shadow: 1px 1px 1px rgb(128, 128, 128);
  border-radius: 0.3rem;
  border: 1px solid black;
}

h2 {
  margin: 1rem 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

input {
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid gray;
  font-size: 1.1rem;
}

button {
  background-color: rgb(0, 186, 0);
  color: white;
  border: none;
  padding: 0.5rem;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0.3rem;
}

button:hover {
  background-color: white;
  color: rgb(0, 186, 0);
  border: 0.5px solid rgb(0, 186, 0);
}

button:active {
  opacity: 0.5;
}

span a {
  text-decoration: none;
  color: rgb(43, 7, 111);
}

.logout {
  margin: 0;
  padding: 0;
}

.App nav {
  display: inline-block;
  margin-left: 113%;
}

nav button {
  background-color: black;
  border-radius: 18px;
  border: 1px solid black;
}

nav button:hover {
  background-color: white;
  color: black;
}

.earth_container_login {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 25px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.earth_container_login img {
  animation: spin 7s linear infinite;
  width: 190px;
}

.earth_container_login p {
  cursor: pointer;
  color: rgba(0, 255, 166, 0.874);
}

.earth_container_login p:hover {
  font-size: 20px;
}

.earth_container_login_animation {
  position: absolute;
  top: 50%;
  left: 22%;
  transform: translate(-475%, -290%);
  transition: 1.3s all ease;
}

.earth_container_login_animation img {
  width: 150px;
  animation: spin 7s linear infinite;
}

.login_container_animation {
  background-color: white;
  padding: 1rem 2.5rem;
  padding-bottom: 2rem;
  border-top: rgb(41, 189, 3) 0.5rem solid;
  box-shadow: 1px 1px 1px rgb(128, 128, 128);
  border-radius: 0.3rem;
  transform: translate(170%, 0%);
  animation: linear;
  transition: 1.3s all ease;
}

.birds_login_container {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-image: url("../../assets/wallpaperflare.com_wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  width: 100vw;
}
